@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: "Rockybilly";
  src: url("assets/fonts/RockyBilly.ttf") format("ttf");
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 247, 246;
  --background-end-rgb: 200, 200, 246;
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 11, 11, 25;
    --background-end-rgb: 11, 11, 55;
  }
} */

html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  scroll-behavior: smooth;
}

#home::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.card {
  background-size: cover;
}

.skill-list li {
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}

.container {
  max-width: calc(900px + 2rem);
  width: 100%;
  padding-inline: 2rem;
}

.container-lg {
  max-width: calc(1200px + 2rem);
  padding-inline: 2rem;
}

.container-full {
  max-width: calc(100% - 2rem);
  padding-inline: 2rem;
}

/* media query for 990px and below */
@media (max-width: 990px) {
  .container-full {
    max-width: unset;
  }
}

.carousel-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}
