@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: "Rockybilly";
  src: url("assets/fonts/RockyBilly.ttf") format("ttf");
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --base-font: "Inter", sans-serif;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 11, 11, 25;
    --background-end-rgb: 11, 11, 55;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  scroll-behavior: smooth;
}

.mask {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes strokeOffset {
  to {
    stroke-dashoffset: 0;
  }
}

#mask-S {
  animation: strokeOffset 0.75s ease-in forwards 0.75s;
}

#mask-i1 {
  animation: strokeOffset 0.75s ease-out forwards 1.5s;
}

#mask-l {
  animation: strokeOffset 0.5s ease-in forwards 1.75s;
}

#mask-a {
  animation: strokeOffset 0.75s ease-in-out forwards 2s;
}

#mask-s {
  animation: strokeOffset 0.75s ease-in-out forwards 2.25s;
}

#mask-i-dot1 {
  animation: strokeOffset 0.75s ease-in forwards 2.5s;
}

#mask-C {
  animation: strokeOffset 1.25s ease-in-out forwards 2.75s;
}

#mask-u {
  animation: strokeOffset 0.75s ease-in forwards 3.35s;
}

#mask-n {
  animation: strokeOffset 1s ease-in-out forwards 3.75s;
}

#mask-d {
  animation: strokeOffset 1s ease-out forwards 4.25s;
}

#mask-i2 {
  animation: strokeOffset 0.75s ease-in-out forwards 4.5s;
}

#mask-i-dot2 {
  animation: strokeOffset 0.75s ease-out forwards 5.5s;
}

#mask-f1 {
  animation: strokeOffset 1s ease-in-out forwards 4.75s;
}

#mask-f2 {
  animation: strokeOffset 0.75s ease-in-out forwards 5.25s;
}
